body
{
    background: white;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family:"Arial" ;
    font-size: 16px;
    margin: 0;
    padding: 0; 
    border: 3px solid color(srgb rgb(0, 225, 255) green blue)
    
}

/* esta es la forma de hace comentarios en css*/
/*class*/

.content
{
    Width: 70%;
    padding: 0;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#contact 
{
    font-family: cursive;
}
.firsttool
{
<<<<<<< HEAD
    background: rgb(140, 73, 255);
=======
    background: url("imagenes/computador.jpg") no-repeat center center;
>>>>>>> main
    box-shadow: 0px 2px 20px 0px grey(0,0,0,0.5);
    color: rgb(255, 255, 255); 
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
}
.firsttool .name
{
    padding: 0 0 0 1em;
    font-weight:  normal;
    font-size: 2em;
    text-align: center;
}

.firsttool #logo
{
    width: 5px ;
    vertical-align: middle;
}

#logos #computador
{
    background-image: url("./imagenes/correo.png") ;
    
}

#footer {
    background: #001dfc;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0);
    text-align: center;
    font-family:"Arial" ; color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 0,6cm;
    margin: 0 auto;
    padding: 0.5em;
   

}
#footer #tagline {
    margin: 0 0 0 1em;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(200, 160, 0);
    font-size: 0.4cm;
    padding: 0;
   

}